* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --mgrey: #eee9e5;
    --mbeige: #f1edeb;
    --mgreen: #848f7c;
    --mgyellow: #BFC6C4;
}

body {
    background-color: var(--mgrey);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    display: flex;
}

/* Left Side Bar */

.leftSideBar {
    width: clamp(15rem, 20vw, 40rem);
    height: 100vh;
    background-color: var(--mbeige);
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(0.5rem, 1vw, 5rem);
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 1vw, 5rem)
}

.profileHeader img {
    width: 50%;
    border-radius: 50%;
    margin: 7% 0;
}

hr {
    width: 90%;
    margin: 5% 0 5% 0;
    background-color: rgba(100, 100, 100, 0.5);
    height: 1px;
    border: 0;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1vw, 5rem);
    width: 75%;
    align-items: stretch;
}

.personalInfo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span:last-child{
    text-align: right;
}

h4 {
    font-size: clamp(1rem, 1.1vw, 3rem);
    margin-left: 7%;
}

.skills {
    width: 100%;
}

.skill {
    margin: 1rem;
}

.skill__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3% 4%;
    font-size: clamp(1rem, 1vw ,2rem);
}

.skill__top span:last-child {
    text-align: right;
}

.skill__bar {
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
}

.skill__bar span {
    display: block;
    height: 100%;
    width: var(--p);
    background-color: var(--mgreen);
    border-radius: 10rem;
}

.languages {
    display: flex;
}

.language {
    padding-right: 2rem;
}

.language > span {
    text-align: center;
}

.ring {
    --c: #848f7c;
    width: clamp(2rem, 3.5vw, 6rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background: conic-gradient(var(--c) calc(var(--p)*1%), #0002 0);

    -webkit-mask:radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);

    mask:radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);


     display:grid;
     place-items: center;
}

/* Main Page */

.mainPage {
    width: 100%;
    height: 100dvh;
    background-color: white;
    margin: 2% 3% 0 3%;
}

.backgroundImg {
    height: clamp(20rem, 17vw, 50rem);
    margin: 30 5% 0 0;
}

.backgroundImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3%;
    gap: 2rem;
}

.myWork h2 {
    margin: 2%;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.myWork a {
    color: black;
    text-decoration: none;
}

.myWork__project {
    background-color: var(--mbeige);
    padding: 3rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.myWork__project img {
    width: 100%;
    height: 18rem;
    align-self: center;
    object-fit: cover;
    object-position: top;
}

.myWork__project h3 {
    margin: 1.5rem 0 1rem 0;
}